# Configuración de Flask
FLASK_ENV=development
FLASK_DEBUG=True
FLASK_HOST=127.0.0.1
FLASK_PORT=5001

# Seguridad (CAMBIAR EN PRODUCCIÓN)
SECRET_KEY=dev-secret-key-change-in-production

# Base de datos MySQL
DB_USER=root
DB_PASSWORD=kidboy2
DB_HOST=localhost
DB_PORT=3306
DB_NAME=db_tareas_uab

# Email (opcional)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=tu_email@gmail.com
MAIL_PASSWORD=tu_contraseña
